.nav-pills li a:hover {
    background-color: #FF822E;
}

.custom-circle {
    background-color: #141533;
    border-top-right-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

  .content {
    margin-left: 40px;
    padding: 30px;
  }
  
  .content h1 {
    font-size: 30px;
  }
  
  .content form {
    margin-top: 30px;
  }
  
  .content label {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .content input[type="text"], .content textarea, .content input[type="file"] {
    width: 70%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .content input[type="submit"], .content input[type="button"] {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .content input[type="submit"]:hover, .content input[type="button"]:hover {
    background-color: #2980b9;
  }
  
  .content input[type="submit"]:focus, .content input[type="button"]:focus {
    outline: none;
  }
  
  .btn-cancelar {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-cancelar {
    background-color: #c0392b;
  }
  
  .btn-sair {
      background-color: #000000;
      border: none;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: auto;
      width: 100%;
  }